html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;color:#333;font-family:'Open Sans', sans-serif;font-size:13px;font-style:inherit;font-weight:normal;font-weight:normal;line-height:18px;margin:0;outline:0;padding:0}#header{display:none}.headerBG{display:none}.invoiceBack{display:none}.footer{display:none}table{width:100%}.authorSignup{display:none}#pageInvoice{margin:0 10%;padding-top:80px}#pageInvoice .invoiceDate{font-family:"Georgia", serif;font-size:11px;font-style:italic}#pageInvoice .invoiceAddress{float:right;font-size:11px}#pageInvoice .invoiceAddress img{height:20px}#pageInvoice h2{clear:both;color:#7292b0;padding:60px 0 20px}#pageInvoice th{color:#7292b0;font-size:10px;text-align:left;text-transform:uppercase}

/*
     FILE ARCHIVED ON 11:39:56 Jul 24, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:34:14 Dec 27, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.737
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.075
  esindex: 0.012
  cdx.remote: 8.14
  LoadShardBlock: 163.019 (3)
  PetaboxLoader3.resolve: 182.801 (4)
  PetaboxLoader3.datanode: 148.432 (5)
  load_resource: 186.518 (2)
*/