Unauthorized use forbidden

Property of {{vars.g.organization}}

{{#classes.snow_day}}
The office is closed today.
{{/classes.snow_day}}

{{#classes.dev}}
DEVELOPMENT
{{/classes.dev}}

{{#classes.ops}}
OPS ROCKS
{{/classes.ops}}

This system is managed by CFEngine
my hostname is {{vars.sys.fqhost}}

The value of foo is {{vars.main.foo}}

Have a nice day.
